<div class="d-flex flex-column">
    <div class="carousel-container">
        <div class="carousel-arrow left-arrow" (click)="previousImage()">
            <img src="../../../assets/images/left-arrow.png" >
        </div>
        <a [href]="currentItem.linkToRedirect">
            <img [src]="currentItem.imageUrl" [alt]="currentItem.alt" class="carousel-image">
        </a>
        <div class="carousel-arrow right-arrow" (click)="nextImage()">
            <img src="../../../assets/images/right-arrow.png" >
        </div>
        
    </div>
    
    <ul class="carousel-indicator d-flex">
        <ng-container *ngFor="let item of carouselArray; let i = index">
            <button [ngClass]="{ 'w-100' : currentIndex == i, 'active' : currentIndex == i}" (click)="changeSlide(i)"></button>
        </ng-container>
    </ul>
</div>