.carousel{
  &-arrow {
    display: inline-block;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    line-height: calc(100vw / 7.75);
    height: 100%;

  }

  &-container {
    position: relative;
    height: calc(100vw / 7.75);
  }

  &-indicator {
    align-self: center;
    cursor: pointer;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
  }

  &-image {
    height: 100%;
    width: 100%;
  }
}

button {
  outline: none;
  border: none;
  border-radius: 12px;
  width: 160px;
  height: 10px;
  position: relative;
  z-index: 1;
  background: transparent;
  overflow: hidden;
  background: lightgray;
  cursor: pointer;
}

button::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: var(--main-color);
  height: 100%;
}

button.active::after {
  animation: 6s ease-in normal both running fill;
}

@keyframes fill {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.left-arrow {
  &:hover{
    transform: scale(115%);
    transition: transform .2s;
  }
}
.right-arrow {
  left:calc(100vw - 3.1vw);
  &:hover{
    transform: scale(115%);
    transition: transform .2s;
  }
}

