.carousel-arrow{
    display: inline-block;
    cursor: pointer;
    z-index: 2;
    position: absolute;
    top: 50%;
    font-size: 30px;
    
}


.carousel-container {
    position: relative;
}

.carousel-indicator {
    cursor: pointer;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.d {
    &-flex{ 
        display: flex;
        flex-direction: row;
    }
}

.w {
    &-100 {
        width: 100%
    }
}