<div *ngIf="shoppingCart$|async as shoppingCart; else loading" class="shopping-cart">

  <div *ngIf="shoppingCart.length !== 0; else emptyCart" class="d-flex flex-row shopping-cart-content">

    <div>
      <app-shopping-cart-item *ngFor="let cartItem of shoppingCart" [cartItem]="cartItem"></app-shopping-cart-item>
    </div>
    <div class="proceed-checkout-component">
      <h4 class="estimated-total">Estimated Total: {{this.$cartTotalObservable| async | currency:'USD'}}</h4>

      <button class="checkout-button" (click)="onCheckout()" mat-raised-button>Proceed to Checkout</button>
    </div>
  </div>

  <ng-template #emptyCart>
    <p class="empty-cart">Your Shopping Cart is Empty</p>
  </ng-template>

</div>

<ng-template #loading>
  <div class="spinner-container">
    <mat-spinner [diameter]="200"></mat-spinner>
  </div>
</ng-template>