<div class="footer-container d-flex flex-column">
    <div class="top-side-container d-flex flex-row">

        <div class="d-flex flex-row header-link logo-link">
            <img src="../assets/images/videogame.png" alt="logo of the website" class="logo">
            ByteBazaar
        </div>
        <div class="links-container d-flex flex-row">
            <div>
                <p>Title</p>
                <ul>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                </ul>
            </div>
            <div>
                <p>Title</p>
                <ul>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                </ul>
            </div>
            <div>
                <p>Title</p>
                <ul>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                </ul>
            </div>
            <div>
                <p>Title</p>
                <ul>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                    <li>Test</li>
                </ul>
            </div>
        </div>

    </div>
    <div class="copyright-container">
        &copy; Samuel De Freitas 2023. All rights reserved.
    </div>
</div>