<div class="store-locator-bar d-flex">
    <p>FREE SHIPPING</p>
    <div class="store-location">
        <i class="fa-solid fa-store" style="color: white; transform: scale(1.25);"></i>
        <p>Shopping Center, University Boulevard West, Jacksonville, FL, USA</p>
    </div>
</div>
<div class="d-flex flex-row app-header">
    <a routerLink="home" class="d-flex flex-row header-link logo-link">
        <img src="../assets/images/videogame.png" alt="logo of the website" class="logo">
        ByteBazaar
    </a>

    <a routerLink="products" >Products</a>
    
    <div class="d-flex flex-row user-controls">
        <a routerLink="login" *ngIf="!isLoggedIn" class="d-flex flex-row header-link">
            <i class="fa-solid fa-right-to-bracket" style="color: var(--main-color); transform: scale(1.25);"></i>
            Login</a>
        <a routerLink="signup" *ngIf="!isLoggedIn" class="d-flex flex-row header-link">
            <i class="fa-solid fa-user-plus" style="color: var(--main-color); transform: scale(1.25);"></i>
            Sign Up</a>
        <a routerLink="dashboard" *ngIf="isLoggedIn" class="d-flex flex-row header-link">
            <i class="fa-solid fa-user" style="color: var(--main-color); transform: scale(1.25);"></i>
            Dashboard</a>
        <a routerLink="cart" class="d-flex flex-row header-link cart-link">
            <i class="fa-sharp fa-solid fa-cart-shopping" style="color: var(--main-color); transform: scale(1.25);"></i>
            <div *ngIf="totalItemsInCart > 0" class="amount-badge">{{totalItemsInCart}}</div>
            My Cart</a>
        <a *ngIf="isLoggedIn" (click)="logout()" class="d-flex flex-row header-link">
            <i class="fa-solid fa-right-from-bracket" style="color: var(--main-color); transform: scale(1.25);"></i>
            Logout</a>
    </div>

    

</div>

<div class="spinner-container" *ngIf="isLoading">
    <mat-spinner [diameter]="200"></mat-spinner>
  </div>