.quantity-selector {
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    margin: 1em;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 85vh;
}
