<div *ngIf="product$ | async as product; else loading">
    <br>
    <!--TODO add utility classes done in the global css -->
    <div class="product-image-container">
        <img src="{{product.imageUrl}}" alt="Image of the product" class="product-image">
    </div>
    <p>{{product.name}}</p>
    <br>
    <p>{{product.price | currency:'USD'}}</p>
    <br>
    <p>{{product.description}}</p>
    <br>
    <p>{{product.specifications}}</p>

    <div class="quantity-selector">
        <button (click)="onSubtractQuantity()">-</button>
        <p>{{quantity}}</p>
        <button (click)="onAddQuantity()">+</button>
    </div>

    <button (click)="onAddToCartFromDetail()" mat-raised-button>Add to cart</button>
    <button (click)="onBuyNow()" mat-raised-button>Buy Now</button>
</div>


<ng-template #loading>
    <div class="spinner-container">
        <mat-spinner [diameter]="200"></mat-spinner>
    </div>
</ng-template>