<div>
    <label for="cardHolderName">Credit Card Holder Name: </label>
    <input id="cardHolderName" type="text" [formControl]="cardHolderName">
</div>
<div>
    <label for="cardNumber">Credit Card Number: </label>
    <input id="cardNumber" type="text" [formControl]="cardNumber">
</div>
<div>
    <label for="expirationDate">Expiration Date: </label>
    <input id="expirationDate" type="text" [formControl]="expirationDate">
</div>
<div>
    <label for="cvv">CVV: </label>
    <input id="cvv" type="text" [formControl]="cvv">
</div>