<form #loginForm = "ngForm" (ngSubmit)="login()">

  <div class="form-input">
    <label for="email">Email *</label>
    <input id="email"
           name="email"
           type="email"
           placeholder="Enter your email"
           [(ngModel)]="user.email"
           #email="ngModel"
           email
           required>
    <div [hidden]="email.valid || email.pristine" class="input-error">
      The email must not be empty and be a valid email
    </div>

  </div>
  <div class="form-input">
    <label for="password">Password *</label>
    <input id="password"
           name="password"
           type="password"
           placeholder="Create your password"
           [(ngModel)]="user.password"
           #password="ngModel"
           required>
    <div *ngIf="!password.pristine && !password.valid" class="input-error">
      The password must not be empty
    </div>
    <div *ngIf="errorMessage" class="input-error">
      {{errorMessage}}
    </div>
  </div>
  <button type="submit" [disabled]="!loginForm.form.valid" mat-raised-button>Login</button>


</form>

<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner [diameter]="250"></mat-spinner>
</div>