<form [formGroup]="signUpForm" (ngSubmit)="signUp()">
  <div class="form-input">
    <label for="firstname">Firstname *</label>
    <input id="firstname"
           type="text"
           placeholder="Enter your firstname"
           formControlName="firstname">
    <div *ngIf="!signUpForm.get('firstname')?.valid && signUpForm.get('firstname')?.dirty"
         class="input-error">
      The firstname must not be empty
    </div>
  </div>
  <div class="form-input">
    <label for="lastname">Lastname *</label>
    <input id="lastname"
           name="lastname"
           type="text"
           placeholder="Enter your lastname"
           formControlName="lastname">
    <div *ngIf="!signUpForm.get('lastname')?.valid && signUpForm.get('lastname')?.dirty"
          class="input-error">
      The lastname must not be empty
    </div>
  </div>
  <div class="form-input">
    <label for="address1">Address 1 *</label>
    <input id="address1"
           type="text"
           placeholder= "Enter your address 1"
           formControlName= "address1">

    <div  *ngIf="!signUpForm.get('address1')?.valid && signUpForm.get('address1')?.dirty"
          class="input-error">
      The Address 1 must not be empty
    </div>
  </div>

  <div class="form-input">
    <label for="address2">Address 2</label>
    <input id="address2"
           type="text"
           placeholder="Enter your address2"
           formControlName= "address2">
  </div>

  <div class="form-input">
    <label for="email">Email *</label>
    <input id="email"
           type="email"
           placeholder="Enter your email"
           formControlName= "email">
    <div  *ngIf="!signUpForm.get('email')?.valid && signUpForm.get('email')?.dirty"
          class="input-error">
      The email must not be empty and be a valid email
    </div>

  </div>
  <div class="form-input">
    <label for="password">Password *</label>
    <input id="password"
           type="password"
           formControlName= "password"
           placeholder="Create your password">
    <div  *ngIf="!signUpForm.get('password')?.valid && signUpForm.get('password')?.dirty"
          class="input-error">
      The password must not be empty, and must be at least 8 characters long
    </div>
  </div>
  <button type="submit" [disabled]="!signUpForm.valid" mat-raised-button>Create Account</button>
</form>
