<div *ngIf="orders$ | async as orders; else loading">
    <div *ngIf="orders.length >0; else emptyOrders">
        <div *ngFor="let order of orders">
            <div>Amount Due: {{order.amount_due}}</div>
            <div *ngFor="let billLine of order.bill_lines">
                <div>Description: {{billLine.description}}</div>
                <div>Price: {{billLine.price | currency:'USD'}}</div>
                <div>Quantity: {{billLine.quantity}}</div>
                <br>
            </div>
            <div>Shipment Detail</div>
            <div>Adress: {{order.shipment.address}}</div>
            <div>City: {{order.shipment.city}}</div>
            <div>State: {{order.shipment.state}}</div>
            <div>Phone Number: {{order.shipment.phone_number}}</div>
            <div>Zipcode: {{order.shipment.zipcode}}</div>
            <div>Estimated Arrival: {{order.shipment.estimated_arrival}}</div>
            <div>Delivered: {{order.shipment.delivered}}</div>
            <br>
            <div>Total: {{order.total | currency:'USD'}}</div>

            <br>
            <br>
            <hr>
            <br>
            <br>
        </div>
    </div>
    <ng-template #emptyOrders>
        <p>You have made no orders yet</p>
    </ng-template>
</div>
<ng-template #loading>
    <div class="spinner-container">
        <mat-spinner [diameter]="200"></mat-spinner>
    </div>
</ng-template>