<form [formGroup]="signUpForm" (ngSubmit)="signUp()">
  <div class="form-input">
    <label for="firstname">Firstname *</label>
    <input id="firstname"
           type="text"
           placeholder="Enter your firstname"
           formControlName="firstname">
    <div *ngIf="!signUpForm.get('firstname')?.valid && signUpForm.get('firstname')?.dirty"
         class="input-error">
      The firstname must not be empty
    </div>
  </div>
  <div class="form-input">
    <label for="lastname">Lastname *</label>
    <input id="lastname"
           name="lastname"
           type="text"
           placeholder="Enter your lastname"
           formControlName="lastname">
    <div *ngIf="!signUpForm.get('lastname')?.valid && signUpForm.get('lastname')?.dirty"
          class="input-error">
      The lastname must not be empty
    </div>
  </div>
  <div class="form-input">
    <label for="address">Address *</label>
    <input id="address"
           type="text"
           placeholder= "Enter your address"
           formControlName= "address">

    <div  *ngIf="!signUpForm.get('address')?.valid && signUpForm.get('address')?.dirty"
          class="input-error">
      The Address 1 must not be empty
    </div>
  </div>

  <div class="form-input">
    <label for="phonenumber">Phone Number *</label>
    <input id="phonenumber"
           type="text"
           placeholder="Enter your phone number"
           formControlName= "phonenumber">
    <div  *ngIf="!signUpForm.get('phonenumber')?.valid && signUpForm.get('phonenumber')?.dirty"
          class="input-error">
      The phone number must not be empty and be a valid phone number
    </div>
  </div>

  <div class="form-input">
    <label for="birthdate">Birthdate *</label>
    <input id="birthdate"
           type="date"
           placeholder="Enter your birthdate"
           formControlName= "birthdate">
    <div  *ngIf="!signUpForm.get('birthdate')?.valid && signUpForm.get('birthdate')?.dirty"
          class="input-error">
      The birthdate must not be empty and be a valid date
    </div>
  </div>

  <div class="form-input">
    <label for="email">Email *</label>
    <input id="email"
           type="email"
           placeholder="Enter your email"
           formControlName= "email">
    <div  *ngIf="!signUpForm.get('email')?.valid && signUpForm.get('email')?.dirty"
          class="input-error">
      The email must not be empty and be a valid email
    </div>

  </div>
  <div class="form-input">
    <label for="password">Password *</label>
    <input id="password"
           type="password"
           formControlName= "password"
           placeholder="Create your password">
    <div  *ngIf="!signUpForm.get('password')?.valid && signUpForm.get('password')?.dirty"
          class="input-error">
      The password must not be empty, and must be at least 8 characters long
    </div>
  </div>
  <button type="submit" [disabled]="!signUpForm.valid" mat-raised-button>Create Account</button>
</form>
