<div class="shopping-cart-item-container">
  <div class="d-flex flex-row shopping-cart-item-info">
    <div class="product-image-container">
      <img src="{{cartItem.imageUrl}}" alt="image of the product" class="product-image">
    </div>

    <div>
      <a class="shopping-cart-item-link" routerLink="../product/{{cartItem.product_id}}">{{cartItem.name}}</a>
      <p class="shopping-cart-item-description">Unit Price: {{cartItem.unitPrice | currency:'USD'}}</p>
      <p class="shopping-cart-item-description">Total price: {{cartItem.totalPrice | currency:'USD'}}</p>
      <p class="shopping-cart-item-description">Quantity: {{cartItem.quantity}}</p>
    </div>
  </div>
  <div class="d-flex flex-row shopping-cart-item-controls">
    <div class="quantity-selector d-flex flex-row">
      <button (click)="onSubtractQuantity()">-</button>
      <span>{{cartItem.quantity}}</span>
      <button (click)="onAddQuantity()">+</button>
    </div>
    <button class="delete-button"  (click)="onDeleteItem()" mat-raised-button>Delete</button>
  </div>
</div>